@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-images{
    position:absolute;
    max-width: initial;
    width: 800px;

   
    filter: saturate(1.3);
    right: -9rem;
    bottom: 0;
    z-index: -1;
    
   
}